<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<!--<input type="hidden" id="isLoggedIn" th:value="${isLoggedIn}"/>-->
<input type="hidden" id="msg" th:value="${msg}"/>
<form id="loginForm" method="post" action="/member/login">
    <table>
        <tr>
            <th>이메일</th>
            <td>
                <input type="text" name="email" id="email"/>
            </td>
        </tr>
        <tr>
            <th>암호</th>
            <td>
                <input type="password" name="password" id="password"/>
            </td>
        </tr>
    </table>
</form>
<div>
    <button type="button" id="loginBtn">로그인</button>
    <a href="/member/join">
        <button type="button">회원가입</button>
    </a>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var msg = document.getElementById('msg').value;
        if (msg && msg.length > 0) {
            alert(msg);
            return;
        }
    });

    document.getElementById('loginBtn').addEventListener('click', clickLoginBtn);

    function clickLoginBtn() {
        if (validateLogin()) {
            login();
        }
    }

    function validateLogin() {
        if (document.getElementById('email').value.length === 0) {
            alert('이메일을 입력하세요.');
            return false;
        }

        if (document.getElementById('password').value.length === 0) {
            alert('암호를 입력하세요.');
            return false;
        }

        return true;
    }

    function login() {
        document.getElementById('loginForm').submit();
    }
</script>
</body>
</html>