<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form method="post" action="/member/join">
    <table>
        <tr>
            <th>이메일</th>
            <td>
                <input type="text" name="email"/>
            </td>
        </tr>
        <tr>
            <th>암호</th>
            <td>
                <input type="password" name="password"/>
            </td>
        </tr>
        <tr>
            <th>이름</th>
            <td>
                <input type="text" name="name"/>
            </td>
        </tr>
    </table>
    <button type="submit">등록</button>
    <a></a>
</form>
</body>
</html>