<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>휴가신청내역</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>

<input id="msg" th:value="${msg}" type="hidden"/>

<div th:if="${#lists.isEmpty(vacationList)}">
    <p>휴가 내역이 없습니다.</p>
</div>

<form th:if="${not #lists.isEmpty(vacationList)}" id="cancelVacationForm" method="post" action="/member/cancelVacation">
    <table>
        <thead>
        <tr>
            <th>시작일</th>
            <th>종료일</th>
            <th>사용일수</th>
            <th>코멘트</th>
            <th>취소여부</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vacation : ${vacationList}">
            <td th:text="${#dates.format(vacation.startAt, 'yyyy-MM-dd')}">yyyy-MM-dd</td>
            <td th:text="${#dates.format(vacation.endAt, 'yyyy-MM-dd')}">yyyy-MM-dd</td>
            <td th:text="${vacation.useDay}">0</td>
            <td th:text="${vacation.comments}">코멘트</td>
            <td th:text="${vacation.isCancel}">N</td>
            <td>
                <button th:if="${vacation.isCancel != 'Y'}" type="submit" name="vacationId" th:value="${vacation.id}">취소</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<div>
    <a href="/">
        <button type="button">홈으로</button>
    </a>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (document.getElementById('msg').value.length) {
            alert(document.getElementById('msg').value);
            window.location.replace('/member/vacationList');
        }
    });
</script>
</body>
</html>