<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>휴가신청</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
</head>
<body>
<form id="requestVacationForm" method="post" action="/member/createVacation">
    <table class="vacation-request-table">
        <tr>
            <th>남은 휴가 일수</th>
            <td th:text="${remainVacationDays} + '일'">15일</td>
        </tr>
        <tr>
            <th>휴가 종류</th>
            <td>
                <select name="vacationType" id="vacationType">
                    <option value="1">연차</option>
                    <option value="0.5">반차</option>
                    <option value="0.25">반반차</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>시작일자</th>
            <td>
                <input type="date" name="startDate" id="startDate"/>
            </td>
        </tr>
        <tr>
            <th>종료일자</th>
            <td>
                <input type="date" name="endDate" id="endDate"/>
            </td>
        </tr>
        <tr>
            <th>코멘트</th>
            <td>
                <input type="text" name="comment"/>
            </td>
        </tr>
    </table>

</form>
<div>
    <button type="button" id="saveBtn">등록</button>
</div>

<script src="/js/vacationRequest.js"></script>
</body>
</html>